.swal-text {
    font-size: 1.6rem;
    text-align: center;
}

.swal-footer {
    text-align: center;
}

.swal-button {
    border: none;
    color: $white;
    background-color: $ruby-red;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.2rem;

    &:not([disabled]):hover {
        background-color: $ruby-red;
    }
}
